.header {
  align-items: center;
  background-color: #023031;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* header top */

.headerTop {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.headerUser {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  color: #023031;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  padding: 5px;
  height: 20%;
}

.nameUser {
  align-items: center;
  display: flex;
  font-size: 1em;
  margin: 0 10px;
}

.headerTop > img {
  margin: 20px;
  width: 150px;
}

.imgUser {
  margin: 1px;
  width: 40px;
}

/* header bot */

nav {
  align-items: center;
  background-color: white;
  color: #023031;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.link {
  align-items: center;
  background-color: #f0f2f5;
  box-shadow: 2px 2px 2px 2px rgb(190, 190, 190);
  border-radius: 5px;
  color: #1a8a61;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
  transition: background-color 0.5s ease;
  padding: 5px 2px;
  width: 30%;
}

.link:active {
  scale: 0.95;
}

.link:hover {
  background-color: #1a8a61;
  color: #f0f2f5;
}

.linkSelect {
  background-color: #036b52;
}

@media only screen and (min-width: 601px) {

  section {
    justify-content: center;
  }
}
