/* // não pode usar hifen, use camelCase ou underline */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0%;
  height: 100%;
  width: 100%;
}

.img {
  width: 50px;
}
