/* // não pode usar hifen, use camelCase ou underline */
.loginPage {
  align-items: center;
  background-color: rgb(255, 255, 255) ;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.inputBox {
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: center;
  width: 80%;
}

.input {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgb(190, 190, 190);
  margin: 1px;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

.input:focus {
  color: #023031;
  outline: 2.5px solid #023031;
}

.loginButton {
  background-color: #023031;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  margin-bottom: 0;
  width: 80%;
}

.loginButton:disabled {
  background-color: #b0b7b8;
}

.loginButton:active {
  scale: 0.95;
}

.img {
  margin: 20px;
  width: 250px;
}

@media only screen and (min-width: 601px) {

  .inputBox {
    height: 30%;
    width: 25%;
  }
}
