.input {
  display: none;
}

.label {
  cursor: pointer;
}

.label i {
  font-size: 20px;
  color: gray;
}

.input:checked + .label i {
  color: red;
}

.audio {
  border-radius: 0;
  margin: 10px 0;
  height: 35px;
  width: 95%;
}