.input {
  display: none;
}

.label {
  cursor: pointer;
}

.label i {
  color: rgb(156, 151, 143);
  font-size: 20px;
}

.label2 {
  cursor: pointer;
}

.label2 i {
  font-size: 20px;
  color: rgb(231, 47, 47);
}



.audio {
  border-radius: 0;
  margin: 10px 0;
  height: 35px;
  width: 95%;
}