.edit {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.editBox {
  box-shadow: 5px 5px 5px 5px rgb(190, 190, 190);
  border-radius: 10px;
  color: #023031;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 80%;
}

.editBox > div {
  font-size: large;
  margin: 10px 15px;
}

.editBox > div > input {
  border-radius: 5px;
  border: #023031 2px solid;
  font-size: large;
  margin-top: 10px;
  padding: 5px;
}

.editBox > div > textarea {
  border-radius: 5px;
  margin-top: 10px;
  border: #023031 2px solid;
  font-size: large;
}

/* input {
  border-radius: 5px;
  margin-left: 40px;
}

textarea {
  border-radius: 5px;
  margin-left: 40px;
} */


/* 
.editBoxName {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.editBoxEmail {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.editBoxDescricao {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.editBoxImagem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  align-items: center;
  background-color: rgb(73, 73, 233);
  border-radius: 5px;
  color: white;
  margin: 25px;
  padding: 8px 80px;
}

button h3 {
  margin: 1px;
} */

.editBox > button {
  align-items: center;
  background-color: rgb(73, 73, 233);
  border-radius: 5px;
  color: white;
  align-self: center;
  margin: 20px 0;
  padding: 10px 0;
  width: 90%;
}


@media only screen and (min-width: 601px) {

  .editBox {
    box-shadow: 5px 5px 5px 5px rgb(190, 190, 190);
    border-radius: 10px;
    color: #023031;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 30%;
  }

}