.profilePage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.profilePage > .profileBox {
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgb(190, 190, 190);
  border-radius: 10px;
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 70%;
}

.profilePage > .profileBox > img {
  /* border: 3px solid #023031; */
  border-radius: 10px;
  width: 80%;
}

.profilePage > .profileBox > p {
  padding-top: 5px;
}

.profilePage > .profileBox > div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
  width: 80%;
}

.profilePage > .profileBox > div > a {
  align-items: center;
  background-color: #023031;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 601px) {

  .profilePage > .profileBox {
    height: 425px;
    margin-top: 25px;
    width: 30%;
  }

  .profilePage > .profileBox > img {
    width: 50%;
  }

  .profilePage > .profileBox > div {
    width: 60%;
  }
}