.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.searchUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0;
  width: 90%;
}

.searchInput {
  border: 1px solid #023031;
  border-radius: 5px;
  padding: 10px;
  font-size: large;
  width: 100%;
}

.searchInput:focus {
  outline: 2.5px solid #023031;
  color: #023031;
}

.searchButton {
  background-color: #023031;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: large;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.searchButton:disabled {
  background-color: #b0b7b8;
}

.searchButton:active {
  scale: 0.95;
}

.searchList {
  align-items: center;
  border: #023031 3px solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.renderList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.renderizou {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.renderizouLista {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.albumCard {
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-around;
  width: 175px;
  margin: 10px 0;
}

.albumCard > p {
  text-align: center;
  width: 90%;
}

.albumCard > h4 {
  text-align: center;
  width: 90%;
}

.imgAlbum {
  border-radius: 10px;
  margin: 10px;
  width: 150px;
}

.albumCardButton {
  background-color: #023031;
  border-radius: 10px;
  color: white;
  padding: 5px 30px;
  text-decoration: none;
}

@media only screen and (min-width: 601px) {

  .searchUp {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .searchButton {
    margin: 0;
    width: 20%;
  }

  .searchInput {
    width: 75%;
    padding: 0 10px;
  }
}
